
<%- include("../../views/partials/admin/header") %>

        <!-- Main Content -->
        <div class="main-content">
            <h2>Welcome to the Admin Dashboard</h2>
            <p>This is where you can manage all the website's content.</p>
        </div>
<%- include("../../views/partials/admin/footer") %>